<section class="container">
  <div class="photospace"></div>
  <div class="us_photo">
    <img
      id="bg_aquarela"
      src="assets/images/bg-aquarela.png"
      alt="Foto Nossa"
    />
    <img id="eu_ela" src="assets/images/eu_ela.png" alt="Foto Nossa" />
  </div>
  <div class="us_title">
    <h1>Ana e Jonathan</h1>
    <h2>31/01/2027</h2>
  </div>
  <div class="separador_flor">
    <img src="assets/images/flor.png" alt="Minha Foto" />
  </div>
  <div class="us_text">
    <p>
      <b>
        Criamos este site com muito carinho para compartilhar com vocês todos os
        detalhes da organização do nosso casamento.
      </b>
    </p>
    <br />
    <p>
      Estamos muito felizes em viver esse momento tão especial e esperamos poder
      celebrá-lo ao lado de pessoas queridas como vocês. Aqui vocês encontrarão
      informações importantes para o grande dia, como sugestões de hospedagem,
      salão de beleza, trajes, estacionamento e outras dicas que podem ajudar na
      organização da sua presença.
    </p>
    <br />
    <p>
      Se desejarem nos presentear, preparamos uma Lista de Casamento com muito
      carinho. Vocês podem escolher qualquer item disponível, seja de lojas
      físicas, sites parceiros ou optar pela contribuição em cotas.
    </p>
    <br />
    <p>Sintam-se à vontade para explorar o site.</p>
    <br />
    <p>
      Estamos ansiosos para celebrar esse momento especial com vocês no nosso
      grande dia! 💍✨
    </p>
  </div>
  <div class="separador_flor">
    <img src="assets/images/flor.png" alt="Minha Foto" />
  </div>
</section>
