.conteinner__register {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1px;
}
.photospace {
  height: 300px;
}

.us_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}
.us_photo #eu_ela {
  position: relative;
  height: 270px;
  border-radius: 50%;
  animation: flutuando_2 15s ease-in-out infinite;
  z-index: 3;
}
.us_photo #bg_aquarela {
  position: absolute;
  width: 100%;
  height: 400px;
  animation: flutuando_1 15s ease-in-out infinite;
  z-index: 2;
}

.separador_flor {
  display: flex;
  justify-content: center;
  z-index: 3;
}

.separador_flor > img {
  width: 150px;
  height: 35px;

  border-radius: 25%;
}

/**/
.title_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9a8478;
}
.title_logo > h3 {
  font-family: "Imperial Script", sans-serif;
  font-size: 45px;
}

.toggle-login {
  display: flex;
  width: 320px;
  background: #d5bfb4;
  border-radius: 30px;
  padding: 4px;
  margin: 0.5rem 0;
}

.btn {
  flex: 1;
  border: none;
  padding: 10px 0;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}

.btn.login a {
  color: #000;
  
  display: block;
  width: 100%;
  height: 100%;
}

.btn.register {
  color: #fff;
}

.btn.active {
  background: linear-gradient(90deg, #e0c48a, #d6b36a);
}

.btns button {
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, #e0c48a, #d6b36a);
}

.senha {
  display: flex;
  justify-content: space-between;
}

.senha text-input {
  width: 49%;
}

/**/
@keyframes flutuando_1 {
  0% {
    transform: translateY(0px) rotate(15deg);
  }

  50% {
    transform: translateY(-20px) rotate(-15deg);
  }

  100% {
    transform: translateY(0px) rotate(15deg);
  }
}

@keyframes flutuando_2 {
  0% {
    transform: translateY(0px) rotate(-15deg);
  }

  50% {
    transform: translateY(-20px) rotate(15deg);
  }

  100% {
    transform: translateY(0px) rotate(-15deg);
  }
}
